<section data-ng-controller="HomeController">
    <div data-ng-if="!authentication.user" class="row" >
        <div class="elements-margin-top thumbnail col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" >
            <div class="caption">
                <p>
                    Vous n'êtes pas identifié. Identifiez-vous ou vous
                    enregistrer si nous n'avez pas encore creer votre compte
                </p>
                <a class="btn btn-primary" type="button" href="/#!/signin" >Se connecter</a>
                <a class="pull-right btn btn-default" type="button" href="/#!/signup" >Creer un compte</a>
            </div>
        </div>
    </div>
    <div data-ng-if="authentication.user" >
        <div id="dashboard" class="dashbord-div col-xs-12 col-md-push-3 col-md-6" >
            <div class="col-xs-4">
                <a data-uib-popover="Ajouter un livre" data-popover-trigger="mouseenter" type="button" class="btn btn-default " href="/#!/books/create" >
                    <img data-ng-src="/assets/img/add-book.png">
                </a>
            </div>
            <div class="col-xs-4">
                <a data-uib-popover="Liste des livres" data-popover-trigger="mouseenter" type="button" class="btn btn-default" href="/#!/books" >
                    <img data-ng-src="/assets/img/list-book.png">
                </a>
            </div>
            <div class="col-xs-4">
                <a data-uib-popover="Liste des collections de livres" data-popover-trigger="mouseenter" type="button" class="btn btn-default" href="/#!/books/collections" >
                    <img data-ng-src="/assets/img/list-collection-books.png">
                </a>
            </div>
            <div class="col-xs-4 elements-margin-top">
                <a data-uib-popover="Ajouter un film" data-popover-trigger="mouseenter" type="button" class="btn btn-default " href="/#!/movies/create" >
                    <img data-ng-src="/assets/img/add-movie.png">
                </a>
            </div>
            <div class="col-xs-4 elements-margin-top">
                <a data-uib-popover="Liste des films" data-popover-trigger="mouseenter" type="button" class="btn btn-default" href="/#!/movies" >
                    <img data-ng-src="/assets/img/list-movies.png">
                </a>
            </div>
            <div class="col-xs-4 elements-margin-top">
                <a data-uib-popover="Liste des collections de films" data-popover-trigger="mouseenter" type="button" class="btn btn-default" href="/#!/movies/collections" >
                    <img data-ng-src="/assets/img/list-collection-movies.png">
                </a>
            </div>
        </div>
        <div data-ng-class="fadeInClass.book" class="elements-margin-top col-xs-12 col-sm-6 col-md-pull-6 col-md-3">
            <div class="thumbnail">
                <h5 class="text-center" data-ng-bind="translation.LAST_ADDED_BOOK" ></h5>
                <a title="{{lastBookResult.title}}" data-ng-href="#!/books/{{lastBookResult._id}}" >
                    <img class="thumbnail-image-size" data-ng-src="{{lastBookResult.cover || 'http://placehold.it/127x200'}}" alt="{{lastBookResult.title}}">
                </a>
                <div class="caption">
                    <h4 title="{{lastBookResult.title}}" class="latest-title" >{{lastBookResult.title}}</h4>
                    <p class="author-p" data-ng-bind="lastBookResult.authors"></p>
                    <h5 class="hidden-xs" >{{lastBookResult.summary}}</h5>
                </div>
            </div>
        </div>
        <div data-ng-class="fadeInClass.movie" class="elements-margin-top col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <h5 class="text-center" data-ng-bind="translation.LAST_ADDED_MOVIE" ></h5>
                <a title="{{lastMovieResult.title}}" data-ng-href="#!/movies/{{lastMovieResult._id}}" >
                    <img class="thumbnail-image-size" data-ng-src="{{lastMovieResult.cover || 'http://placehold.it/127x200'}}" alt="{{lastMovieResult.title}}">
                </a>
                <div class="caption">
                    <h4 title="{{lastMovieResult.title}}" class="latest-title">{{lastMovieResult.title}}</h4>
                    <p class="author-p" data-ng-bind="lastMovieResult.actors"></p>
                    <h5 class="hidden-xs">{{lastMovieResult.summary}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="authentication.user && isLoaded">
        <div class="col-md-12" data-ng-include="'modules/light-rss-feed/views/light-rss-feed.client.view.html'"></div>
    </div>
    <div class="byline col-xs-12">
        <p class="author">By the <a rel="author" href="">MediaCollection Team.</a></p>
    </div>
</section>
