<section data-ng-controller="HomeController">
    <div ng-hide="authentication.user" class="row" >
        <div class="elements-margin-top thumbnail col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" >
            <div class="caption">
                <p>
                    Vous n'êtes pas identifié. Identifiez-vous ou vous
                    enregistrer si nous n'avez pas encore creer votre compte
                </p>
                <a class="btn btn-primary" type="button" href="/#!/signin" >Se connecter</a>
                <a class="pull-right btn btn-default" type="button" href="/#!/signup" >Creer un compte</a>
            </div>
        </div>
    </div>
    <div ng-show="authentication.user" >
        <div id="dashboard" class="dashbord-div col-xs-12 col-md-push-3 col-md-6" >
            <div class="col-xs-4">
                <a popover="Ajouter un livre" popover-trigger="mouseenter" type="button" class="btn btn-default " href="/#!/books/create" >
                    <img ng-src="/assets/img/add-book.png">
                </a>
            </div>
            <div class="col-xs-4">
                <a popover="Liste des livres" popover-trigger="mouseenter" type="button" class="btn btn-default" href="/#!/books" >
                    <img ng-src="/assets/img/list-book.png">
                </a>
            </div>
            <div class="col-xs-4">
                <a popover="Liste des collections de livres" popover-trigger="mouseenter" type="button" class="btn btn-default" href="/#!/books/collections" >
                    <img ng-src="/assets/img/list-collection-books.png">
                </a>
            </div>
            <div style="margin-top: 5%" class="col-xs-4">
                <a popover="Ajouter un film" popover-trigger="mouseenter" type="button" class="btn btn-default " href="/#!/movies/create" >
                    <img ng-src="/assets/img/add-movie.png">
                </a>
            </div>
            <div style="margin-top: 5%" class="col-xs-4">
                <a popover="Liste des films" popover-trigger="mouseenter" type="button" class="btn btn-default" href="/#!/movies" >
                    <img ng-src="/assets/img/list-movies.png">
                </a>
            </div>
            <div style="margin-top: 5%" class="col-xs-4">
                <a popover="Liste des collections de films" popover-trigger="mouseenter" type="button" class="btn btn-default" href="/#!/movies/collections" >
                    <img ng-src="/assets/img/list-collection-movies.png">
                </a>
            </div>
            <div style="margin-top: 5%" class="col-xs-4">
                <a popover="Ajouter une série TV" popover-trigger="mouseenter" type="button" class="btn btn-default " href="/#!/tv-shows/create" >
                    <img ng-src="/assets/img/add-tvseries.png">
                </a>
            </div>
            <div style="margin-top: 5%" class="col-xs-4">
                <a popover="Liste des séries TV" popover-trigger="mouseenter" type="button" class="btn btn-default" href="/#!/tv-shows" >
                    <img ng-src="/assets/img/list-tvseries.png">
                </a>
            </div>
            <div style="margin-top: 5%" class="col-xs-4">
                <a popover="Liste des collections de séries TV" popover-trigger="mouseenter" type="button" class="btn btn-default" href="/#!/tv-shows/collections" >
                    <img ng-src="/assets/img/list-collection-shows.png">
                </a>
            </div>
        </div>
        <div ng-class="fadeInClass.book" class="elements-margin-top col-xs-12 col-sm-6 col-md-pull-6 col-md-3">
            <div class="thumbnail">
                <h5 class="text-center" data-ng-bind="translation.LAST_ADDED_BOOK" ></h5>
                <a title="{{lastBookResult.title}}" data-ng-href="#!/books/{{lastBookResult._id}}" >
                    <img class="thumbnail-image-size" ng-src="{{lastBookResult.cover || 'http://placehold.it/127x200'}}" alt="{{lastBookResult.title}}">
                </a>
                <div class="caption">
                    <h4 title="{{lastBookResult.title}}" class="latest-title" >{{lastBookResult.title}}</h4>
                    <p class="author-p" data-ng-bind="lastBookResult.authors"></p>
                    <h5 class="hidden-xs" >{{lastBookResult.summary}}</h5>
                </div>
            </div>
        </div>
        <div ng-class="fadeInClass.movie" class="elements-margin-top col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <h5 class="text-center" data-ng-bind="translation.LAST_ADDED_MOVIE" ></h5>
                <a title="{{lastMovieResult.title}}" data-ng-href="#!/movies/{{lastMovieResult._id}}" >
                    <img class="thumbnail-image-size" ng-src="{{lastMovieResult.cover || 'http://placehold.it/127x200'}}" alt="{{lastMovieResult.title}}">
                </a>
                <div class="caption">
                    <h4 title="{{lastMovieResult.title}}" class="latest-title">{{lastMovieResult.title}}</h4>
                    <p class="author-p" data-ng-bind="lastMovieResult.actors"></p>
                    <h5 class="hidden-xs">{{lastMovieResult.summary}}</h5>
                </div>
            </div>
        </div>
        <div ng-class="fadeInClass.show" class="col-xs-12 micro-margin-top">
            <div class="thumbnail right-caption col-xs-12">
                <h5 class="text-center" data-ng-bind="translation.LAST_ADDED_SERIES" ></h5>
                <a title="{{lastTvShow.tvShowName}}" data-ng-href="#!/tv-shows/{{lastTvShow._id}}" >
                    <img class="thumbnail-image-size" ng-src="{{lastTvShow.cover || 'http://placehold.it/127x200'}}" alt="{{lastTvShow.tvShowName}}">
                </a>
                <div class="caption">
                    <h4 title="{{lastTvShow.tvShowName}}" class="latest-title">{{lastTvShow.tvShowName}}</h4>
                    <p class="author-p" data-ng-bind="lastTvShow.producers || lastTvShow.creators || lastTvShow.actors"></p>
                    <h5 class="hidden-xs">{{lastTvShow.summary}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="authentication.user && isLoaded">
        <div class="col-md-12" ng-include="'modules/light-rss-feed/views/light-rss-feed.client.view.html'"></div>
        <!--div class="col-md-6" ng-include="'modules/my-api-film/views/my-api-film.client.view.html'"></div-->
    </div>
    <div class="byline col-xs-12">
        <p class="author">By the <a rel="author" href="">MediaCollection Team.</a></p>
    </div>
</section>
