<section data-ng-controller="CreateMoviesController" data-ng-init="initCreate()">
    <div data-ng-include="'modules/movies/views/search-movie-modal.client.view.html'"></div>
    <div class="page-header">
        <h1 data-ng-bind="'NEW_MOVIE' | translate"></h1>
    </div>
    <mc-loader></mc-loader>
    <div class="col-xs-12" data-ng-show="isLoaded && !isDuplicate">
        <uib-alert data-ng-if="noResultAlert" dismiss-on-timeout="5000" close="closeAlert()" type="info">{{'MOVIE_NO_RESULT' | translate}}</uib-alert>
        <section data-ng-include="'modules/movies/views/movie-online-search-subview.html'"></section>
    </div>
    <div data-ng-show="isLoaded" class="col-xs-12">
        <section data-ng-include="'modules/movies/views/form-movie-subview.html'"></section>
    </div>
</section>
