<section data-ng-controller="ListMoviesController as ListMoviesCtrl" data-ng-show="authentication.user" data-ng-init="find()"
         xmlns="http://www.w3.org/1999/html">
    <div class="page-header">
        <h1>
            <button class="badge pull-right btn btn-primary view-field-info-margin-top" data-ng-click="goToStats()" data-ng-bind="'STATS' | translate"></button>
            <button data-ng-show="searchParam === 'multi'" data-ng-click="updateMode()" class="badge pull-right btn btn-primary view-field-info-margin-top view-field-info-margin-right" data-ng-bind="'QUICK_SEARCH' | translate"></button>
            <button data-ng-show="!searchParam" data-ng-click="updateMode()" class="badge pull-right btn btn-primary view-field-info-margin-top view-field-info-margin-right" data-ng-bind="'MULTI_SEARCH' | translate"></button>
            {{'MY_MOVIES' | translate}}
        </h1>
    </div>
    <mc-loader></mc-loader>

    <!-- Panneau de recherche rapide -->

    <div  class="col-md-12 listMovieFilter" data-ng-show="!searchParam && isLoaded">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-ng-bind="'QUICK_SEARCH' | translate"></h3>
            </div>
            <div class="panel-body">
                <div class="quicksearch-input col-xs-12 col-sm-5 col-md-4 col-lg-3 ">
                    <input class="form-control" id="searchMovieInput" name="searchMovieInput" data-ng-model="search" placeholder="{{'SEARCH' | translate}}">
                </div>
                <div data-ng-show="search" class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <span class="list-group-item" >
                    {{filteredMovies.length}}
                    <span data-ng-show="filteredMovies.length > 1" data-ng-bind="'MATCHES' | translate"></span>
                    <span data-ng-show="filteredMovies.length < 2" data-ng-bind="'MATCH' | translate"></span>
                </span>
                </div>
            </div>
        </div>
    </div>

    <!-- panneau de recherche multi-critères -->

    <section data-ng-include="'modules/common/multi-search/views/multi-search.client.view.html'"></section>

    <!-- Liste des Films -->

    <div data-ng-show="isLoaded" class="col-md-12 view-field-info-margin-top list-group">
        <a data-ng-repeat="movie in filteredMovies = (multiSearch ? (movies | MultiSearchMovieFilter:multiSearch) : (movies | listMovieFilter:search))"
           data-ng-href="#!/movies/{{movie._id}}" class="list-group-item">
            <div class="media">
                <div class="hidden-xs media-left media-middle">
                    <img class="list-cover-size" data-ng-src="{{movie.cover}}">
                </div>
                <div class="media-body">
                    <h4 class="media-heading list-title" data-ng-bind="movie.collectionName ? movie.collectionName + ' Ep. ' + movie.episode + ' : ' + movie.title : movie.title" ></h4>
                    <p data-ng-show="movie.actors" class="list-group-item-text">
                        <span class="list-people">
                            {{'ACTORS' | translate}}
                            :
                        </span>
                        {{formatPeople(movie.actors)}}
                    </p>
                    <p data-ng-show="movie.directors" class="list-group-item-text">
                        <span class="list-people">
                            {{'DIRECTORS' | translate}}
                            :
                        </span>
                        {{formatPeople(movie.directors)}}
                    </p>
                    <h6 data-ng-show="movie.summary" class="list-group-item-text" data-ng-bind="movie.truncatedSummary" ></h6>
                </div>
            </div>
        </a>
    </div>

    <!-- Panneau des statistiques -->

    <section data-ng-include="'modules/common/statistics-panel/views/statistics-panel.client.view.html'" ></section>
</section>
