<section class="row" data-ng-controller="SettingsController">
    <h3 class="col-md-12 text-center">{{'EDIT_PROFILE_TITLE' | translate}}</h3>
    <div class="col-xs-12 text-center">
        <div class="btn-group">
            <label class="btn btn-default" data-ng-model="tabMenu" uib-btn-radio="'account'">{{'ACCOUNT_SETTINGS' | translate}}</label>
            <label class="btn btn-default" data-ng-model="tabMenu" uib-btn-radio="'lang'">{{'LANG_SETTINGS' | translate}}</label>
            <label class="btn btn-default" data-ng-model="tabMenu" uib-btn-radio="'recovery'">{{'RECOVERY_SETTINGS' | translate}}</label>
        </div>
        <hr>
    </div>
    <div class="col-xs-12">
        <section data-ng-if="tabMenu === 'account'">
            <mc-edit-profile></mc-edit-profile>
        </section>
        <section data-ng-if="tabMenu === 'lang'">
            <mc-languages></mc-languages>
        </section>
        <section data-ng-if="tabMenu === 'recovery'">
            <mc-recovery></mc-recovery>
        </section>
    </div>
</section>
