<div class="container" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/#!/" class="navbar-brand">Media Collection</a>
    </div>
    <nav class="navbar-collapse" data-uib-collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav" data-ng-show="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-show="item.shouldRender(authentication.user);" data-uib-dropdown class="{{item.menuItemClass}}" >
                <a id="single-button" class="dropdown-toggle" data-uib-dropdown-toggle data-ng-disabled="disabled">
                    <span data-ng-bind="item.title | translate"></span>
                    <b class="caret"></b>
                </a>
                <ul data-uib-dropdown-menu role="menu" class="dropdown-menu">
                    <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-show="subitem.shouldRender(authentication.user);" data-ng-class="{active: $uiRoute}">
                        <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title | translate"></a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <li>
                <a href="/#!/signup" data-ng-if="isSigned" data-ng-bind="'SIGNUP' | translate"></a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a href="/#!/signin" data-ng-bind="'SIGNIN' | translate"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown" data-uib-dropdown>
                <a class="dropdown-toggle" data-uib-dropdown-toggle>
                    <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                </a>
                <ul data-uib-dropdown-menu class="dropdown-menu">
                    <li data-ng-if="authentication.user && authentication.user.admin">
                        <a href="/#!/options" data-ng-bind="'SETTINGS' | translate"></a>
                    </li>
                    <li data-ng-if="authentication.user && authentication.user.admin" class="divider"></li>
                    <li>
                        <a href="/#!/settings/profile" data-ng-bind="'EDIT_PROFILE' | translate"></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a data-ng-click="signOut()" data-ng-bind="'SIGNOUT' | translate"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
