<section data-ng-controller="HomeController as HomeCtrl">
    <div data-ng-if="!HomeCtrl.authentication.user" class="row" >
        <div class="elements-margin-top thumbnail col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" >
            <div class="caption">
                <p class="pre-text" data-ng-bind="'NOT_LOGGED_MESSAGE' | translate"></p>
                <a class="btn btn-primary" type="button" href="/#!/signin" data-ng-bind="'SIGNIN' | translate"></a>
                <a class="pull-right btn btn-default" type="button" href="/#!/signup" data-ng-if="HomeCtrl.isSigned" data-ng-bind="'SIGNUP'  | translate"></a>
            </div>
        </div>
    </div>
    <div data-ng-if="HomeCtrl.authentication.user" >
        <div id="dashboard" class="dashbord-div col-xs-12 col-md-push-3 col-md-6" >
            <mc-dashboard-btn data-mc-icon="'/assets/img/add-book.png'" data-mc-popover="'ADD_BOOK' | translate" data-mc-url="'/#!/books/create'" ></mc-dashboard-btn>
            <mc-dashboard-btn data-mc-icon="'/assets/img/list-book.png'" data-mc-popover="'BOOK_LIST' | translate" data-mc-url="'/#!/books'" ></mc-dashboard-btn>
            <mc-dashboard-btn data-mc-icon="'/assets/img/list-collection-books.png'" data-mc-popover="'BOOK_COLLECTION' | translate" data-mc-url="'/#!/books/collections'" ></mc-dashboard-btn>
            <mc-dashboard-btn data-mc-icon="'/assets/img/add-movie.png'" data-mc-popover="'ADD_MOVIE' | translate" data-mc-url="'/#!/movies/create'" ></mc-dashboard-btn>
            <mc-dashboard-btn data-mc-icon="'/assets/img/list-movies.png'" data-mc-popover="'MOVIE_LIST' | translate" data-mc-url="'/#!/movies'" ></mc-dashboard-btn>
            <mc-dashboard-btn data-mc-icon="'/assets/img/list-collection-movies.png'" data-mc-popover="'MOVIE_COLLECTION' | translate" data-mc-url="'/#!/movies/collections'" ></mc-dashboard-btn>
        </div>
        <div data-ng-class="HomeCtrl.fadeInClass.book" class="elements-margin-top col-xs-12 col-sm-6 col-md-pull-6 col-md-3">
            <div data-ng-if="HomeCtrl.lastBookResult" class="thumbnail">
                <h5 class="text-center" data-ng-bind="'LAST_ADDED_BOOK' | translate" ></h5>
                <a title="{{HomeCtrl.lastBookResult.title}}" data-ng-href="#!/books/{{HomeCtrl.lastBookResult._id}}" >
                    <img class="thumbnail-image-size" data-ng-src="{{HomeCtrl.lastBookResult.cover || 'http://placehold.it/127x200'}}" alt="{{HomeCtrl.lastBookResult.title}}">
                </a>
                <div class="caption">
                    <h4 title="{{HomeCtrl.lastBookResult.title}}" class="latest-title" >{{HomeCtrl.lastBookResult.title}}</h4>
                    <p class="author-p" data-ng-bind="HomeCtrl.lastBookResult.authors"></p>
                    <h5 class="hidden-xs" >{{HomeCtrl.lastBookResult.summary}}</h5>
                </div>
            </div>
        </div>
        <div data-ng-class="HomeCtrl.fadeInClass.movie" class="elements-margin-top col-xs-12 col-sm-6 col-md-3">
            <div data-ng-if="HomeCtrl.lastMovieResult" class="thumbnail">
                <h5 class="text-center" data-ng-bind="'LAST_ADDED_MOVIE' | translate" ></h5>
                <a title="{{HomeCtrl.lastMovieResult.title}}" data-ng-href="#!/movies/{{HomeCtrl.lastMovieResult._id}}" >
                    <img class="thumbnail-image-size" data-ng-src="{{HomeCtrl.lastMovieResult.cover || 'http://placehold.it/127x200'}}" alt="{{HomeCtrl.lastMovieResult.title}}">
                </a>
                <div class="caption">
                    <h4 title="{{HomeCtrl.lastMovieResult.title}}" class="latest-title">{{HomeCtrl.lastMovieResult.title}}</h4>
                    <p class="author-p" data-ng-bind="HomeCtrl.lastMovieResult.actors"></p>
                    <h5 class="hidden-xs">{{HomeCtrl.lastMovieResult.summary}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="HomeCtrl.authentication.user && HomeCtrl.isLoaded">
        <div class="col-md-12" data-ng-include="'modules/light-rss-feed/views/light-rss-feed.client.view.html'"></div>
    </div>
    <div class="byline col-xs-12">
        <p class="author">By the <a rel="author" href="">MediaCollection Team.</a></p>
    </div>
</section>
