<section data-ng-controller="EditMoviesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Modifier un film</h1>
    </div>
    <mc-loader></mc-loader>
    <div ng-show="isLoaded" class="col-xs-12">
        <fieldset>
            <div class="form-group">
                <div class="col-xs-12 col-md-6 row">
                    <h3>Information générales</h3>
                    <div class="col-xs-12">
                        Note :
                        <rating ng-model="mediaModel.movieRate" max="ratingMax" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                        <span class="label" ng-class="{'label-danger': overStar<3, 'label-info': overStar>=3 && overStar<7, 'label-success': overStar>=7}" ng-show="overStar && !isReadonly">{{overStar}}/{{ratingMax}}</span>
                    </div>
                    <div class="col-xs-12">
                        <label class="control-label" for="title">Titre</label>
                        <div class="controls">
                            <input type="text" data-ng-model="mediaModel.title" id="title" class="form-control" placeholder="Titre" required>
                        </div>
                    </div>
                    <div class="{{mediaModel.collectionName ? 'col-xs-8 col-sm-9' : 'col-xs-12'}}">
                        <label class="control-label" for="collectionName">Collection</label>
                        <div class="controls">
                            <input type="text" data-ng-model="mediaModel.collectionName" id="collectionName" class="form-control" placeholder="Collection" >
                        </div>
                    </div>
                    <div ng-show="mediaModel.collectionName ? true : false" class="col-xs-4 col-sm-3">
                        <label class="control-label" for="episode">Episode</label>
                        <div class="controls">
                            <input data-ng-model="mediaModel.episode" ng-disabled="mediaModel.collectionName ? false : true" type="number" id="episode" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="control-label" for="actor">Acteur</label>
                    </div>
                    <div class="col-xs-12" ng-repeat="item in mediaModel.actorsList"  >
                        <div class="input-group">
                            <input type="text" ng-model="item" ng-blur="updateField('actorsList', $index, item)" class="form-control " >
                            <span class="input-group-btn">
                                <button class="pull-right btn btn-danger" type="button" ng-click="deleteField('actorsList', $index)" >
                                    <img class="form-icon-btn-size" ng-src="/assets/img/delete96.png">
                                </button>
                            </span>
                        </div>
                        <br/>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input type="text" data-ng-model="mediaModel.actor" id="actor" class="form-control" placeholder="Acteur">
                            <span class="input-group-btn">
                                <button class="pull-right btn btn-success" id="addActorBtn" type="button" data-ng-disabled="checkField('actor')" ng-click="addField('actorsList', 'actor')" >
                                    <img class="form-icon-btn-size" ng-src="/assets/img/plus24.png">
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="control-label" for="producer">Producteur</label>
                    </div>
                    <div class="col-xs-12" ng-repeat="item in mediaModel.producersList"  >
                        <div class="input-group">
                            <input type="text" ng-model="item" ng-blur="updateField('producersList', $index, item)" class="form-control " >
                            <span class="input-group-btn">
                                <button class="pull-right btn btn-danger" type="button" ng-click="deleteField('producersList', $index)" >
                                    <img class="form-icon-btn-size" ng-src="/assets/img/delete96.png">
                                </button>
                            </span>
                        </div>
                        <br/>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input type="text" data-ng-model="mediaModel.producer" id="producer" class="form-control" placeholder="Acteur">
                            <span class="input-group-btn">
                                <button class="pull-right btn btn-success" id="addProducerBtn" type="button" data-ng-disabled="checkField('producer')" ng-click="addField('producersList', 'producer')" >
                                    <img class="form-icon-btn-size" ng-src="/assets/img/plus24.png">
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="control-label" for="director">R&eacute;alisateur</label>
                    </div>
                    <div class="col-xs-12" ng-repeat="item in mediaModel.directorsList"  >
                        <div class="input-group">
                            <input type="text" ng-model="item" ng-blur="updateField('directorsList', $index, item)" class="form-control " >
                            <span class="input-group-btn">
                                <button class="pull-right btn btn-danger" type="button" ng-click="deleteField('directorsList', $index)" >
                                    <img class="form-icon-btn-size" ng-src="/assets/img/delete96.png">
                                </button>
                            </span>
                        </div>
                        <br/>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input type="text" data-ng-model="mediaModel.director" id="director" class="form-control" placeholder="Acteur">
                            <span class="input-group-btn">
                                <button class="pull-right btn btn-success" id="addDirectorBtn" type="button" data-ng-disabled="checkField('director')" ng-click="addField('directorsList', 'director')" >
                                    <img class="form-icon-btn-size" ng-src="/assets/img/plus24.png">
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="control-label" for="scenarist">Sc&eacute;nariste</label>
                    </div>
                    <div class="col-xs-12" ng-repeat="item in mediaModel.scenaristsList"  >
                        <div class="input-group">
                            <input type="text" ng-model="item" ng-blur="updateField('scenaristsList', $index, item)" class="form-control " >
                            <span class="input-group-btn">
                                <button class="pull-right btn btn-danger" type="button" ng-click="deleteField('scenaristsList', $index)" >
                                    <img class="form-icon-btn-size" ng-src="/assets/img/delete96.png">
                                </button>
                            </span>
                        </div>
                        <br/>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input type="text" data-ng-model="mediaModel.scenarist" id="scenarist" class="form-control" placeholder="Acteur">
                            <span class="input-group-btn">
                                <button class="pull-right btn btn-success" id="addScenaristBtn" type="button" data-ng-disabled="checkField('scenarist')" ng-click="addField('scenaristsList', 'scenarist')" >
                                    <img class="form-icon-btn-size" ng-src="/assets/img/plus24.png">
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 row" >
                    <h3>Information supplémentaires</h3>
                    <div class="col-xs-12 col-sm-5" >
                        <label class="control-label" for="ReleasedDate">Date de sortie</label>
                        <div class="controls">
                            <input class="form-control" type="date" data-ng-model="mediaModel.releasedDate" id="ReleasedDate" placeholder="jj/mm/aaaa">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label class="control-label" for="duration">Dur&eacute;e</label>
                        <input class="form-control" id="duration" type="number" data-ng-model="mediaModel.duration" >
                    </div>
                    <div class="controls col-xs-6 col-sm-4">
                        <label class="control-label" for="type">Type</label>
                        <div class="controls " >
                            <select class="form-control" id="type" data-ng-model="mediaModel.selectedType" ng-options="type.displayName for type in mediaModel.typeList" required></select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-5" >
                        <label class=" control-label" for="Price">Prix</label>
                        <div class="controls">
                            <input class="form-control" type="number" step="0.01" min="0" data-ng-model="mediaModel.price" id="Price" placeholder="Prix" >
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <label class="control-label" >Vu</label>
                        <div>
                            <button class="btn btn-success" ng-show="mediaModel.seen === true" ng-click="mediaModel.seen = false" data-ng-model="mediaModel.seen" >
                                <img class="form-icon-btn-size" ng-src="/assets/img/view8.png">
                            </button>
                            <button class="btn btn-danger" ng-show="mediaModel.seen === false" ng-click="mediaModel.seen = true" data-ng-model="mediaModel.seen" >
                                <img class="form-icon-btn-size" ng-src="/assets/img/eye48.png">
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3" >
                        <label class="control-label" >Achet&eacute;</label>
                        <div>
                            <button class="btn btn-success" ng-show="mediaModel.bought === true" ng-click="mediaModel.bought = false" data-ng-model="mediaModel.bought" >
                                <img class="form-icon-btn-size" ng-src="/assets/img/correct2.png">
                            </button>
                            <button class="btn btn-danger" ng-show="mediaModel.bought === false" ng-click="mediaModel.bought = true" data-ng-model="mediaModel.bought" >
                                <img class="form-icon-btn-size" ng-src="/assets/img/delete100.png">
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-12" >
                        <label class="control-label" for="cover">Couverture</label>
                        <div class="controls">
                            <input class="form-control" id="cover" type="url" data-ng-model="mediaModel.cover" placeholder="http://" >
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="control-label" for="summary">R&eacute;sum&eacute;</label>
                        <div class="controls">
                            <textarea class="summary-textarea form-control text" id="summary" data-ng-model="mediaModel.summary" placeholder="Résumé" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 no-padding-side">
                    <section data-ng-include="'modules/common/custom-fields/views/custom-fields.client.view.html'"></section>
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <input ng-click="update();" value="Valider" class="cancel-button btn btn-success pull-right view-field-info-margin-right view-field-info-margin-top">
                <input ng-click="cancelEditMovie();" value="Annuler" class="cancel-button btn btn-danger pull-right view-field-info-margin-right view-field-info-margin-top">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </div>
</section>
