<script type="text/ng-template" id="searchMovieModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Liste de correspondance</h3>
    </div>
    <div ng-show="!nothingFound" class="modal-body">
        <ul>
            <li ng-repeat="movie in movieList">
                <a class="collection-header-field" ng-click="getMovieInfo(movie);">{{ movie.title ? movie.title : movie.originalTitle }}</a>
            </li>
        </ul>
    </div>
    <div ng-show="nothingFound" class="modal-body">
        <p>Aucune correspondance trouv&eacute;e pour : {{stringSearched}}</p>
    </div>
    <div data-uib-collapse="isCollapsed">
        <div class="media well">
            <div class="media-left media-middle">
                <img ng-show="selected.movie.coverHref" class="media-object list-cover-size" ng-src="{{selected.movie.coverHref}}">
            </div>
            <div class="media-body">
                <h4 class="media-heading" ng-bind="selected.movie.title ? selected.movie.title : selected.movie.originalTitle"></h4>
                <small class="list-group-item-text" data-ng-bind="selected.movie.summary"></small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="!nothingFound" class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
