<section>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>{{ 'SECRET_QUESTION' | translate }}</th>
                <th><i class="fa fa-pencil-square-o" aria-hidden="true"></i></th>
                <th><i class="fa fa-trash" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr class="default-cursor" data-ng-repeat="question in recoveryList.questions">
                <td data-ng-bind="question.question"></td>
                <td><a data-ng-click="editAnswer(question)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a data-ng-click="deleteQuestion(question)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</section>
