<section>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>{{ 'SECRET_QUESTION' | translate }}</th>
                <th><i class="fa fa-pencil-square-o" aria-hidden="true"></i></th>
                <th><i class="fa fa-trash" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="question in recoveryList.questions">
                <td data-ng-bind="question.question"></td>
                <td><a data-ng-click="editAnswer(question)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a data-ng-click="deleteQuestion(question)"><i class="fa fa-trash cursor-pointer" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
    <div class="col-xs-12 text-center">
        <form name="questionForm" data-ng-submit="addQuestion()" class="form-inline" autocomplete="off">
            <div class="form-group">
                <label for="question">{{ 'SECRET_QUESTION' | translate }}</label>
                <input id="question" name="question" class="form-control" type="text" data-ng-model="newQuestion.question">
            </div>
            <div class="form-group">
                <label for="answer">{{ 'SECRET_ANSWER' | translate }}</label>
                <input id="answer" name="answer" class="form-control" type="text" data-ng-model="newQuestion.answer">
            </div>
            <button type="submit" class="btn btn-success">
                <img class="form-icon-btn-size" data-ng-src="/assets/img/plus24.png">
            </button>
        </form>
    </div>
</section>
