<section data-ng-controller="OptionsController as Opts">
    <header class="page-header">
        <h2 data-ng-bind="Opts.pageTitle"></h2>
    </header>
    <section data-ng-if="Opts.authentication" class="col-xs-12 row" >
        <uib-tabset active="active">
            <uib-tab index="0" heading="{{ 'USERS_TAB' | translate }}">
                <mc-users></mc-users>
            </uib-tab>
            <uib-tab index="1" heading="{{ 'LANGUAGES_TAB' | translate }}">
                <mc-languages></mc-languages>
            </uib-tab>
        </uib-tabset>
    </section>
</section>
