<section>
    <div class="micro-margin-top-fixed col-md-12 row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Display Name</th>
                    <th><i class="fa fa-pencil-square-o" aria-hidden="true"></i></th>
                    <th><i class="fa fa-trash" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in usersList">
                    <td data-ng-bind="user.username"></td>
                    <td data-ng-bind="user.email"></td>
                    <td data-ng-bind="user.displayName"></td>
                    <td><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td><a href=""><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
