<section data-ng-controller="SeriesCreateController" data-ng-init="initCreate()">
    <div class="page-header">
        <h1 data-ng-show="mediaModel.seriesType === 'tvshows'" >Nouvelle série TV</h1>
        <h1 data-ng-show="mediaModel.seriesType === 'animes'" >Nouvelle série animée</h1>
    </div>
    <div ng-hide="true" class="elements-margin-top text-center col-xs-12" >
        <img src="/assets/img/loader-large.gif">
    </div>
    <div data-ng-show="true" class="col-xs-12 row" >
        <fieldset>
            <div class="form-group" >
                <div id="generalFields" class="micro-margin-bottom-fixed col-xs-12 row" >
                    <h3>Informations Générales</h3>
                    <div class="controls col-xs-3 col-sm-1 ">
                        <label class="control-label" >Type</label>
                        <div>
                            <button class="btn btn-primary" data-ng-show="mediaModel.seriesType === 'tvshows'" data-ng-click="mediaModel.seriesType = 'animes'" data-ng-model="mediaModel.seriesType" >
                                <img class="form-icon-btn-size" ng-src="/assets/img/widescreen11.png">
                            </button>
                            <button class="btn btn-primary" data-ng-show="mediaModel.seriesType === 'animes'" data-ng-click="mediaModel.seriesType = 'tvshows'" data-ng-model="mediaModel.seriesType" >
                                <img class="form-icon-btn-size" ng-src="/assets/img/manga2.png">
                            </button>
                        </div>
                    </div>
                    <div class="controls col-xs-9 col-sm-5 col-md-6 col-lg-7 ">
                        <label class="control-label" for="seriesName">Série</label>
                        <input type="text" class="form-control" data-ng-model="mediaModel.seriesName" typeahead="collection for collection in listExisting | filter:$viewValue | limitTo:8" placeholder="Série" id="seriesName" >
                    </div>
                    <div class="controls col-xs-12 col-sm-4 col-md-3 ">
                        <div class="no-padding-left col-xs-12 ">
                            <label class="control-label" for="seasonStart">Saisons</label>
                        </div>
                        <div class="no-padding-left col-xs-6 ">
                            <input type="number" data-ng-model="mediaModel.seasonStart" min="0" step="1" class="form-control" id="seasonStart" >
                        </div>
                        <div class="no-padding-right col-xs-6 ">
                            <input type="number" data-ng-model="mediaModel.seasonEnd" class="form-control" step="1" id="seasonEnd" data-ng-disabled="mediaModel.seasonStart ? false : true" >
                        </div>
                    </div>
                    <div style="padding-top: 25px;" class="controls col-xs-12 col-sm-2 col-lg-1"  >
                        <button class="btn btn-success pull-right" data-ng-disabled="!mediaModel.seriesName && !mediaModel.seasonStart" data-ng-hide="isDetails" data-ng-click="validateSeries()" data-ng-model="isDetails" >
                            <span>Valider</span>
                        </button>
                        <button class="btn btn-primary pull-right" data-ng-show="isDetails" data-ng-click="" data-ng-model="isDetails" >
                            <img class="form-icon-btn-size" ng-src="/assets/img/magnifier13.png">
                        </button>
                    </div>
                </div>
                <hr class="col-xs-12">
                <div data-ng-show="isDetails" class="col-xs-12 row no-padding-side" >
                    <div id="detailsLeft" class="col-xs-12 col-md-4 no-padding-side">
                        <div id="seasonFields" class="col-xs-12 " >
                            <h3>Saisons</h3>
                            <div class="input-group col-xs-12">
                                <input type="number" data-ng-model="seriesData.episodesNb" class="form-control" placeholder="# d'épisodes">
                                <span class="input-group-btn">
                                    <button class="pull-right btn btn-primary" data-ng-click="applyEpisodes()" data-ng-disabled="seriesData.episodesNb ? false : true">
                                        {{'A tous'}}
                                    </button>
                                </span>
                            </div>
                            <div id="seasonList" class="col-xs-12">
                                <div class="col-xs-12 micro-margin-top-fixed no-padding-side" data-ng-repeat="season in mediaModel.seasonList">
                                    <h5 data-ng-bind="'Saison ' + season.name" class="col-xs-4 col-sm-3 col-md-4 no-padding-side" ></h5>
                                    <span class="col-xs-8 col-sm-9 col-md-8 no-padding-side">
                                        <input data-ng-model="season.episodes" type="number" class="form-control" placeholder="#">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr class="col-xs-12">
                        <div id="staffFields" class="col-xs-12" >
                            <h3>[Staff Info]</h3>
                            <div class="col-xs-12">
                                <label class="control-label" for="producer">Producteur</label>
                            </div>
                            <div class="col-xs-12" ng-repeat="item in mediaModel.seriesProducersList"  >
                                <div class="input-group">
                                    <input type="text" ng-model="item" ng-blur="updateField('seriesProducersList', $index, item)" class="form-control " >
                                    <span class="input-group-btn">
                                        <button class="pull-right btn btn-danger" type="button" ng-click="deleteField('seriesProducersList', $index)" >
                                            <img class="form-icon-btn-size" ng-src="/assets/img/delete96.png">
                                        </button>
                                    </span>
                                </div>
                                <br/>
                            </div>
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <input type="text" data-ng-model="mediaModel.producer" id="producer" class="form-control" placeholder="Producteur">
                                    <span class="input-group-btn">
                                        <button class="pull-right btn btn-success" id="addProducorBtn" type="button" data-ng-disabled="checkField('producer')" ng-click="addField('seriesProducersList', 'producer')" >
                                            <img class="form-icon-btn-size" ng-src="/assets/img/plus24.png">
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="control-label" for="actor">Acteur</label>
                            </div>
                            <div class="col-xs-12" ng-repeat="item in mediaModel.seriesActorsList"  >
                                <div class="input-group">
                                    <input type="text" ng-model="item" ng-blur="updateField('seriesActorsList', $index, item)" class="form-control " >
                                    <span class="input-group-btn">
                                        <button class="pull-right btn btn-danger" type="button" ng-click="deleteField('seriesActorsList', $index)" >
                                            <img class="form-icon-btn-size" ng-src="/assets/img/delete96.png">
                                        </button>
                                    </span>
                                </div>
                                <br/>
                            </div>
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <input type="text" data-ng-model="mediaModel.actor" id="actor" class="form-control" placeholder="Acteur">
                                    <span class="input-group-btn">
                                        <button class="pull-right btn btn-success" id="addActorBtn" type="button" data-ng-disabled="checkField('actor')" ng-click="addField('seriesActorsList', 'actor')" >
                                            <img class="form-icon-btn-size" ng-src="/assets/img/plus24.png">
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="control-label" for="creator">Cr&eacute;ateur</label>
                            </div>
                            <div class="col-xs-12" ng-repeat="item in mediaModel.seriesCreatorsList" >
                                <div class="input-group">
                                    <input type="text" ng-model="item" ng-blur="updateField('seriesCreatorsList', $index, item)" class="form-control " >
                                    <span class="input-group-btn">
                                        <button class="pull-right btn btn-danger" type="button" ng-click="deleteField('seriesCreatorsList', $index)" >
                                            <img class="form-icon-btn-size" ng-src="/assets/img/delete96.png">
                                        </button>
                                    </span>
                                </div>
                                <br/>
                            </div>
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <input type="text" data-ng-model="mediaModel.creator" id="creator" class="form-control" placeholder="Créateur">
                                    <span class="input-group-btn">
                                        <button class="pull-right btn btn-success" id="addCreatorBtn" type="button" data-ng-disabled="checkField('creator')" ng-click="addField('seriesCreatorsList', 'creator')" >
                                            <img class="form-icon-btn-size" ng-src="/assets/img/plus24.png">
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="detailsRight" class="col-xs-12 col-md-8 no-padding-side">
                        <div id="additionalFields" class="col-xs-12">
                            <h3>Informations supplémentaires</h3>
                            <div class="col-xs-12 col-sm-5">
                                <label class="control-label" for="channel">Chaine</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="mediaModel.channel" id="channel" class="form-control" placeholder="Chaine">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <label class="control-label" for="duration">Durée</label>
                                <div class="controls">
                                    <input type="number" step="1" min="0" data-ng-model="mediaModel.duration" id="duration" class="form-control" placeholder="en minute" tooltip="{{durationHelper}}" tooltip-trigger="focus" tooltip-placement="bottom" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label class="control-label" for="year" >Année</label>
                                <div class="controls">
                                    <input type="number" data-ng-model="mediaModel.year" id="year" class="form-control" placeholder="Année" >
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <label class="control-label" >Image</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="mediaModel.cover" id="cover" class="form-control" placeholder="http://" >
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label class="control-label" >Prix</label>
                                <div class="controls">
                                    <input type="number" data-ng-model="mediaModel.price" id="price" class="form-control" placeholder="€" >
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <label class="control-label" >Vu</label>
                                <div >
                                    <button class="btn btn-success" ng-show="mediaModel.seen === 'SEEN'" ng-click="mediaModel.seen = 'ONGOING'" data-ng-model="mediaModel.seen" >
                                        <img class="form-icon-btn-size" ng-src="/assets/img/view8.png">
                                    </button>
                                    <button class="btn btn-info" ng-show="mediaModel.seen === 'ONGOING'" ng-click="mediaModel.seen = 'NOTSEEN'" data-ng-model="mediaModel.seen" >
                                        <img class="form-icon-btn-size" ng-src="/assets/img/widescreen11.png">
                                    </button>
                                    <button class="btn btn-danger" ng-show="mediaModel.seen === 'NOTSEEN'" ng-click="mediaModel.seen = 'SEEN'" data-ng-model="mediaModel.seen" >
                                        <img class="form-icon-btn-size" ng-src="/assets/img/eye48.png">
                                    </button>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <label class="control-label" >Acheté</label>
                                <div>
                                    <button class="btn btn-success" ng-show="mediaModel.bought === true" ng-click="mediaModel.bought = false" data-ng-model="mediaModel.bought" >
                                        <img class="form-icon-btn-size" ng-src="/assets/img/correct2.png">
                                    </button>
                                    <button class="btn btn-danger" ng-show="mediaModel.bought === false" ng-click="mediaModel.bought = true" data-ng-model="mediaModel.bought" >
                                        <img class="form-icon-btn-size" ng-src="/assets/img/delete100.png">
                                    </button>
                                </div>
                            </div>
                            <div data-ng-show="displayLastSeen" class="col-xs-12 col-sm-6 col-md-4">
                                <label class="control-label no-padding-side" >Dernière saison vu</label>
                                <select data-ng-change="updateEpList()" class="form-control" data-ng-model="mediaModel.lastSeenSeason" ng-options="season.name as 'Saison ' + season.name for season in mediaModel.seasonList" ></select>
                            </div>
                            <div data-ng-show="displayLastSeen && mediaModel.lastSeenSeason" class="col-xs-12 col-sm-6 col-md-4 ">
                                <label class="control-label no-padding-side" >Dernier épisode vu</label>
                                <select class="form-control" data-ng-model="mediaModel.lastSeenEpisode" ng-options="ep as 'Épisode ' + ep for ep in tmpEpList" ></select>
                            </div>
                            <div class="col-xs-12">
                                <label class="control-label" for="summary">Résumé</label>
                                <div class="controls">
                                    <textarea class="summary-textarea form-control text" id="summary" data-ng-model="mediaModel.summary" placeholder="Résumé" ></textarea>
                                </div>
                            </div>
                        </div>
                        <section data-ng-include="'modules/common/custom-fields/views/custom-fields.client.view.html'"></section>
                    </div>
                </div>
            </div>
            <div class="form-group micro-margin-top-fixed col-xs-12 row">
                <button data-ng-click="create();" class="btn btn-success pull-right micro-margin-right-fixed">Valider</button>
                <button data-ng-click="debugFunc()" class="btn btn-warning pull-right micro-margin-right-fixed">DEBUG</button>
            </div>
        </fieldset>
    </div>
</section>
