div.view-field div div {
    font-style: oblique;
    cursor: default;
}

div.view-field div h4, div.view-field h4, div.view-field div h5 {
    padding-left: 3%;
    cursor: default;
}

.ui-margin-top {
    margin-top: 5%;
}

.status-container {
    margin-top: 3%;
    margin-left: 10%;
    padding: 8px;
    border-radius: 25%;
}
