<script type="text/ng-template" id="apiSearchClientModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Liste des sites de recherche</h3>
    </div>

    <div data-ng-hide="isSelected" class="col-xs-12" >
        <div class="col-xs-6 cursor-pointer" data-ng-repeat="item in choices" >
            <a class="list-group-item" data-ng-click="selectChoice(item)" data-ng-bind="item.pageTitle" ></a>
        </div>
    </div>
    <div data-ng-show="isSelected && isLoaded" class="col-xs-12 modal-main-container" >
        <mc-search-selector data-mc-element="choiceList.title" data-mc-model="selectedModel.title" ></mc-search-selector>
        <mc-search-selector data-mc-element="choiceList.authorsList" data-mc-model="selectedModel.authorsList" ></mc-search-selector>
        <mc-search-selector data-mc-element="choiceList.publisher" data-mc-model="selectedModel.publisher" ></mc-search-selector>
        <mc-search-selector data-mc-element="choiceList.collectionName" data-mc-model="selectedModel.collectionName" ></mc-search-selector>
        <mc-search-selector data-mc-element="choiceList.pageCount" data-mc-model="selectedModel.pageCount" ></mc-search-selector>
        <mc-search-selector data-mc-element="choiceList.isbn" data-mc-model="selectedModel.isbn" ></mc-search-selector>
        <mc-search-selector data-mc-element="choiceList.creatorsList" data-mc-model="selectedModel.creatorsList" ></mc-search-selector>
        <mc-search-selector data-mc-element="choiceList.producersList" data-mc-model="selectedModel.producersList" ></mc-search-selector>
        <mc-search-selector data-mc-element="choiceList.actorsList" data-mc-model="selectedModel.actorsList" ></mc-search-selector>
        <mc-search-selector data-mc-element="choiceList.channel" data-mc-model="selectedModel.channel" ></mc-search-selector>
        <mc-search-selector data-mc-element="choiceList.date" data-mc-model="selectedModel.date" ></mc-search-selector>
    </div>

    <div class="modal-footer">
        <button ng-show="!nothingFound" class="btn btn-primary" ng-click="validateModal()">OK</button>
        <button class="btn btn-warning" ng-click="cancelModal()">Cancel</button>
    </div>
</script>
