<section data-ng-controller="ListTvShowsController" data-ng-init="find()">
    <div class="page-header">
        <h1>
            <button class="badge pull-right btn btn-primary view-field-info-margin-top" ng-click="goToStats()" >Statistiques</button>
            <button class="badge pull-right btn btn-primary view-field-info-margin-top view-field-info-margin-right" data-ng-model="multiSearchOn" ng-click="multiSearchOn = !multiSearchOn" >{{multiSearchOn ? 'Recherche rapide' : 'Recherche multi-critères'}}</button>
            Mes Séries TV
        </h1>
    </div>
    <div ng-hide="isLoaded" class="elements-margin-top text-center" >
        <img src="/assets/img/loader-large.gif">
    </div>

    <!-- Panneau de recherche rapide -->

    <div class="col-md-12" ng-show="!multiSearchOn && isLoaded">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" >Recherche rapide</h3>
            </div>
            <div class="panel-body">
                <div class="quicksearch-input col-xs-12 col-sm-5 col-md-4 col-lg-3 ">
                    <input class="form-control" id="searchTvShowInput" name="searchTvShowInput" ng-model="quickSearch" placeholder="Search...">
                </div>
                <div ng-show="quickSearch" class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <span class="list-group-item" >
                    {{filteredTvShows.length}}
                    <span ng-show="filteredTvShows.length > 1"> correspondances</span>
                    <span ng-show="filteredTvShows.length < 2"> correspondance</span>
                </span>
                </div>
            </div>
        </div>
    </div>

    <!-- panneau de recherche multi-critères -->

    <div class="col-md-12" ng-show="multiSearchOn && isLoaded" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" >Recherche multi-crit&egrave;res</h3>
            </div>
            <div class="panel-body" >
                <div class="col-xs-12 col-sm-6 multi-search-margin-bottom">
                    <label class="control-label" for="nameSearch" >Série</label>
                    <input class="form-control" id="nameSearch" data-ng-model="multiSearch.nameSearch" placeholder="Collection" formnovalidate="formnovalidate">
                </div>
                <div class="col-xs-12 col-sm-2 multi-search-margin-bottom">
                    <label class="control-label" for="episodeSearch" >Saison</label>
                    <input class="form-control" type="number" id="episodeSearch" data-ng-model="multiSearch.seasonSearch" placeholder="#">
                </div>
                <div class="col-xs-12 col-sm-4 multi-search-margin-bottom">
                    <label class="control-label" for="channelSearch" >Chaine</label>
                    <input class="form-control" id="channelSearch" data-ng-model="multiSearch.channelSearch" placeholder="Chaine">
                </div>
                <div class="col-xs-12 col-sm-4 multi-search-margin-bottom">
                    <label class="control-label" for="actorSearch" >Acteurs</label>
                    <input class="form-control" id="actorSearch" data-ng-model="multiSearch.actorSearch" placeholder="Acteurs">
                </div>
                <div class="col-xs-12 col-sm-4 multi-search-margin-bottom">
                    <label class="control-label" for="producerSearch" >Producteurs</label>
                    <input class="form-control" id="producerSearch" data-ng-model="multiSearch.producerSearch" placeholder="Producteurs">
                </div>
                <div class="col-xs-12 col-sm-4 multi-search-margin-bottom">
                    <label class="control-label" for="scenaristSearch" >Créateurs</label>
                    <input class="form-control" id="scenaristSearch" data-ng-model="multiSearch.creatorSearch" placeholder="Créateurs">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 multi-search-margin-bottom">
                    <label class="control-label" for="releasedDate" >Année</label>
                    <input class="form-control" type="number" id="releasedDate" data-ng-model="multiSearch.yearSearch" >
                </div>
                <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1 multi-search-margin-bottom">
                    <label class="control-label" >Achet&eacute;</label>
                    <div >
                        <button class="btn btn-success" ng-show="multiSearch.boughtSearch === true" ng-click="multiSearch.boughtSearch = false" data-ng-model="multiSearch.boughtSearch" >
                        <img class="form-icon-btn-size" ng-src="/assets/img/correct2.png">
                        </button>
                        <button class="btn btn-danger" ng-show="multiSearch.boughtSearch === false" ng-click="multiSearch.boughtSearch = undefined" data-ng-model="multiSearch.boughtSearch" >
                            <img class="form-icon-btn-size" ng-src="/assets/img/delete100.png">
                        </button>
                        <button class="btn btn-default" ng-show="multiSearch.boughtSearch === undefined" ng-click="multiSearch.boughtSearch = true" data-ng-model="multiSearch.boughtSearch" >
                            <img class="form-icon-btn-size" ng-src="/assets/img/forbidden4-black.png">
                        </button>
                    </div>
                </div>
                <div class="col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-md-8 col-lg-9 col-xs-6 col-sm-3 multi-search-margin-bottom" >
                    <label class="control-label" >Vu</label>
                    <div >
                        <button class="btn btn-success" ng-show="multiSearch.seenSearch === 'SEEN'" ng-click="multiSearch.seenSearch = 'ONGOING'" data-ng-model="multiSearch.seenSearch" >
                            <img class="form-icon-btn-size" ng-src="/assets/img/view8.png">
                        </button>
                        <button class="btn btn-info" ng-show="multiSearch.seenSearch === 'ONGOING'" ng-click="multiSearch.seenSearch = 'NOTSEEN'" data-ng-model="multiSearch.seenSearch" >
                            <img class="form-icon-btn-size" ng-src="/assets/img/widescreen11.png">
                        </button>
                        <button class="btn btn-danger" ng-show="multiSearch.seenSearch === 'NOTSEEN'" ng-click="multiSearch.seenSearch = undefined" data-ng-model="multiSearch.seenSearch" >
                            <img class="form-icon-btn-size" ng-src="/assets/img/eye48.png">
                        </button>
                        <button class="btn btn-default" ng-show="multiSearch.seenSearch === undefined" ng-click="multiSearch.seenSearch = 'SEEN'" data-ng-model="multiSearch.seenSearch" >
                            <img class="form-icon-btn-size" ng-src="/assets/img/forbidden4-black.png">
                        </button>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1 multi-search-margin-bottom multi-search-button-center" >
                    <button class="btn btn-primary" ng-show="multiSearch.durationSearch.type === 'exact'" ng-click="multiSearch.durationSearch.type = 'more'" data-ng-model="multiSearch.durationSearch.type" >#</button>
                    <button class="btn btn-primary" ng-show="multiSearch.durationSearch.type === 'between'" ng-click="multiSearch.durationSearch.type = undefined" data-ng-model="multiSearch.durationSearch.type" >Entre</button>
                    <button class="btn btn-primary" ng-show="multiSearch.durationSearch.type === 'more'" ng-click="multiSearch.durationSearch.type = 'less'" data-ng-model="multiSearch.durationSearch.type" >Plus</button>
                    <button class="btn btn-primary" ng-show="multiSearch.durationSearch.type === 'less'" ng-click="multiSearch.durationSearch.type = 'between'" data-ng-model="multiSearch.durationSearch.type" >Moins</button>
                    <button class="btn btn-default" ng-show="multiSearch.durationSearch.type === undefined" ng-click="multiSearch.durationSearch.type = 'exact'" data-ng-model="multiSearch.durationSearch.type" >
                        <img class="form-icon-btn-size" ng-src="/assets/img/forbidden4-black.png">
                    </button>
                </div>
                <div class="col-xs-8 {{multiSearch.durationSearch.type === 'between' ? 'col-sm-2' : 'col-sm-4' }} col-md-2 col-lg-2 multi-search-margin-bottom">
                    <label class="control-label" for="durationSearchStart" >Dur&eacute;e</label>
                    <input ng-disabled="multiSearch.durationSearch.type === undefined" class="form-control" type="number" id="durationSearchStart" data-ng-model="multiSearch.durationSearch.start" placeholder="{{multiSearch.durationSearch.type === 'between' ? 'Entre...' : 'Durée'}}" >
                </div>
                <div ng-show="multiSearch.durationSearch.type === 'between'" class="col-xs-offset-4 col-xs-8 col-sm-offset-0 col-sm-2 col-md-offset-0 col-md-2 col-lg-offset-0 col-lg-2 multi-search-margin-bottom multi-search-button-center">
                    <input class="form-control" type="number" min="{{multiSearch.durationSearch.start}}" id="durationSearchEnd" data-ng-model="multiSearch.durationSearch.end" placeholder="Et..." >
                </div>
                <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1 multi-search-margin-bottom multi-search-button-center">
                    <button class="btn btn-primary" ng-show="multiSearch.prices.type === 'exact'" ng-click="multiSearch.prices.type = 'more'" data-ng-model="multiSearch.prices.type" >#</button>
                    <button class="btn btn-primary" ng-show="multiSearch.prices.type === 'between'" ng-click="multiSearch.prices.type = undefined" data-ng-model="multiSearch.prices.type" >Entre</button>
                    <button class="btn btn-primary" ng-show="multiSearch.prices.type === 'more'" ng-click="multiSearch.prices.type = 'less'" data-ng-model="multiSearch.prices.type" >Plus</button>
                    <button class="btn btn-primary" ng-show="multiSearch.prices.type === 'less'" ng-click="multiSearch.prices.type = 'between'" data-ng-model="multiSearch.prices.type" >Moins</button>
                    <button class="btn btn-default" ng-show="multiSearch.prices.type === undefined" ng-click="multiSearch.prices.type = 'exact'" data-ng-model="multiSearch.prices.type" >
                        <img class="form-icon-btn-size" ng-src="/assets/img/forbidden4-black.png">
                    </button>
                </div>
                <div class="col-xs-8 {{multiSearch.prices.type === 'between' ? 'col-sm-2' : 'col-sm-4' }} col-md-2 col-lg-2 multi-search-margin-bottom">
                    <label class="control-label" for="priceStart" >Prix</label>
                    <input ng-disabled="multiSearch.prices.type === undefined" class="form-control" type="number" id="priceStart" data-ng-model="multiSearch.prices.start" placeholder="{{multiSearch.prices.type === 'between' ? 'Entre...' : 'Prix'}}" >
                </div>
                <div ng-show="multiSearch.prices.type === 'between'" class="col-xs-offset-4 col-xs-8 col-sm-offset-0 col-sm-2 col-md-offset-0 col-md-2 col-lg-offset-0 col-lg-2 multi-search-margin-bottom multi-search-button-center">
                    <input class="form-control" type="number" id="priceEnd" data-ng-model="multiSearch.prices.end" placeholder="Et..." >
                </div>
                <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 view-field-info-margin-top ">
                    <button data-ng-disabled="loading || !multiSearch" class="btn btn-primary pull-right" ng-click="restoreList();" >Clear</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Liste des séries -->

    <div ng-show="isLoaded" class="col-md-12 list-group">
        <a data-ng-repeat="item in filteredTvShows = (multiSearch ? (tvShows | MultiSearchTvShowFilter:multiSearch) : (tvShows | listShowsFilter:quickSearch))" data-ng-href="#!/tv-shows/{{item._id}}" class="list-group-item">
            <div class="media">
                <div class="hidden-xs media-left media-middle">
                    <img class="list-cover-size" ng-src="{{item.cover}}" alt="...">
                </div>
                <div class="media-body">
                    <h4 class="media-heading list-title">{{item.tvShowName + ' Saison ' + item.season}}</h4>
                    <p ng-show="item.producers" class="list-group-item-text"><span class="list-people">Producteur(s) :</span>{{getDisplayList(item.producers)}}"</p>
                    <p ng-show="item.actors" class="list-group-item-text"><span class="list-people">Acteurs :</span>{{getDisplayList(item.actors)}}"</p>
                    <h6 style="font-style: oblique" class="list-group-item-text" data-ng-bind="item.episodes + ' épisode' + (item.episodes > 1 ? 's' : '')" ></h6>
                    <h6 ng-show="item.summary" class="list-group-item-text" data-ng-bind="item.summary.TruncIsh(450)" ></h6>
                </div>
            </div>
        </a>
    </div>

    <!--Panneau des statistiques-->

    <section data-ng-include="'modules/common/statistics-panel/views/statistics-panel.client.view.html'" ></section>
</section>
