<section data-ng-controller="CreateBookController" data-ng-show="authentication.user" data-ng-init="initCreate()">
    <section data-ng-include="'modules/wikipedia-api/views/api-search.client.modal.html'" ></section>
    <div class="page-header">
        <h1 data-ng-show="mediaModel.type === 'book'" >{{isDuplicate ? fields.DUPLICATE : fields.NEW + ' ' + fields.BOOK}}</h1>
        <h1 data-ng-show="mediaModel.type === 'comics'" >{{isDuplicate ? fields.DUPLICATE : fields.NEW + ' ' + fields.COMICS}}</h1>
        <h1 data-ng-show="mediaModel.type === 'manga'" >{{isDuplicate ? fields.DUPLICATE : fields.NEW + ' ' + fields.MANGA}}</h1>
    </div>
    <mc-loader></mc-loader>
    <div class="col-xs-12" >
        <section data-ng-include="'modules/books/views/book-online-search-subview.html'"></section>
    </div>
    <div data-ng-show="isLoaded" class="col-xs-12">
        <section data-ng-include="'modules/books/views/form-book-subview.html'"></section>
    </div>
</section>
