<fieldset data-uib-collapse="!isCollapsed" >
    <div class="form-group">
        <div class="col-xs-12 col-md-6 row">
            <h3 data-ng-bind="'GENERAL_INFO' | translate"></h3>
            <div class="col-xs-12">
                {{'RATING' | translate}} :
                <uib-rating data-ng-model="mediaModel.bookRate" max="ratingMax" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></uib-rating>
                <!-- Here we need to fix something because the enable the rating box appear only once if you overlay the stars-->
                <!--span class="label" data-ng-class="{'label-warning': overStar<3, 'label-info': overStar>=3 && overStar<7, 'label-success': overStar>=7}" data-ng-show="overStar && !isReadonly">{{overStar}}/{{ratingMax}}</span-->
            </div>
            <div class="col-xs-12 col-sm-2">
                <label class="control-label" data-ng-bind="'TYPE' | translate"></label>
                <div >
                    <button class="btn btn-primary" data-ng-show="mediaModel.type === 'book'" data-ng-click="mediaModel.type = 'comics'" data-ng-model="mediaModel.type" >
                        <img class="form-icon-btn-size" data-ng-src="/assets/img/book139.png">
                    </button>
                    <button class="btn btn-primary" data-ng-show="mediaModel.type === 'comics'" data-ng-click="mediaModel.type = 'manga'" data-ng-model="mediaModel.type" >
                        <img class="form-icon-btn-size" data-ng-src="/assets/img/speechbubble17.png">
                    </button>
                    <button class="btn btn-primary" data-ng-show="mediaModel.type === 'manga'" data-ng-click="mediaModel.type = 'book'" data-ng-model="mediaModel.type" >
                        <img class="form-icon-btn-size" data-ng-src="/assets/img/manga2.png">
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-10">
                <label class="control-label" for="title" data-ng-bind="'TITLE' | translate"></label>
                <div class="controls">
                    <input type="text" data-ng-model="mediaModel.title" id="title" class="form-control" placeholder="{{'TITLE' | translate}}" required>
                </div>
            </div>
            <div class="{{mediaModel.collectionName ? 'col-xs-12 col-sm-9' : 'col-xs-12'}}">
                <label class="control-label" for="collectionName" data-ng-bind="'COLLECTION' | translate"></label>
                <div class="controls">
                    <input type="text" data-ng-model="mediaModel.collectionName" id="collectionName" class="form-control" placeholder="{{'COLLECTION' | translate}}"
                           data-uib-typeahead="collection for collection in listExisting | filter:$viewValue | limitTo:8">
                </div>
            </div>
            <div data-ng-show="mediaModel.collectionName ? true : false" class="col-xs-12 col-sm-3">
                <label class="control-label" for="volume" data-ng-bind="'VOLUME' | translate"></label>
                <div class="controls">
                    <input data-ng-model="mediaModel.volumeId" data-ng-disabled="mediaModel.collectionName ? false : true" type="number" id="volume" class="form-control" >
                </div>
            </div>
            <div data-ng-show="mediaModel.collectionName ? true : false" class="col-xs-12 micro-margin-top-fixed">
                <label class="control-label" for="lastVolume" data-ng-bind="'LAST_VOLUME' | translate"></label>
                <div class="checkbox">
                    <label>
                        <input data-ng-focus="showLastItemAlert = true" data-ng-blur="showLastItemAlert = false" data-ng-model="mediaModel.lastItem" data-ng-disabled="mediaModel.collectionName ? false : true" type="checkbox" id="lastVolume" class="" >
                        <span><small>This media is the last volume of the collection</small></span>
                    </label>
                </div>
                <span class="text-info" data-ng-show="mediaModel.lastItem && showLastItemAlert === true">
                    <i class="fa fa-exclamation-triangle"></i>
                    <strong data-ng-bind="'LAST_VOLUME_ALERT' | translate"></strong>
                </span>
            </div>
            <div class="col-xs-12">
                <label class="control-label" for="author" data-ng-bind="'AUTHOR' | translate"></label>
            </div>
            <div class="col-xs-12" data-ng-repeat="item in mediaModel.authorsList"  >
                <div class="input-group">
                    <input type="text" data-ng-model="item" data-ng-blur="updateField('authorsList', $index, item)" class="form-control " title="author">
                    <span class="input-group-btn">
                        <button class="pull-right btn btn-danger" type="button" data-ng-click="deleteField('authorsList', $index)" >
                            <img class="form-icon-btn-size" data-ng-src="/assets/img/delete96.png">
                        </button>
                    </span>
                </div>
                <br/>
            </div>
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" data-ng-model="mediaModel.author" id="author" class="form-control" placeholder="{{'AUTHOR' | translate}}">
                    <span class="input-group-btn">
                        <button class="pull-right btn btn-success" id="addActorBtn" type="button" data-ng-disabled="checkField('author')" data-ng-click="addField('authorsList', 'author')" >
                            <img class="form-icon-btn-size" data-ng-src="/assets/img/plus24.png">
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-xs-12">
                <label class="control-label" for="Publisher" data-ng-bind="'PUBLISHER' | translate"></label>
                <div class="controls">
                    <input class="form-control" type="text" data-ng-model="mediaModel.publisher" id="Publisher" placeholder="{{'PUBLISHER' | translate}}" >
                </div>
            </div>
            <div class="col-xs-12" >
                <label class="control-label" for="cover" data-ng-bind="'COVER' | translate"></label>
                <div class="btn-group col-xs-12 row view-field-label-margin">
                    <label class="btn btn-primary" data-ng-model="mediaModel.uploadCover" data-uib-btn-radio="false" data-ng-bind="'LINK' | translate"></label>
                    <label class="btn btn-primary" data-ng-model="mediaModel.uploadCover" data-uib-btn-radio="true" data-ng-bind="'FILE' | translate"></label>
                </div>
                <div data-ng-hide="mediaModel.uploadCover" class="controls">
                    <input class="form-control" id="cover" type="url" data-ng-model="mediaModel.cover" placeholder="http://" >
                </div>
                <div data-ng-show="mediaModel.uploadCover" class="col-xs-12 col-md-6 row">
                    <input type="file" id="fileInput" onchange="angular.element(this).scope().loadFile(this.files)" />
                    <div class="cropArea">
                        <img-crop image="mediaModel.myImage" area-type="rectangle" aspect-ratio="0.63" result-image="mediaModel.myCroppedImage"
                                  result-image-size='{w: 280,h: 440}' result-image-format="'image/jpeg'" init-max-area="true"></img-crop>
                    </div>
                </div>
                <div data-ng-show="mediaModel.uploadCover" class="col-xs-12 col-md-6 row pull-right">
                    <div data-ng-bind="'OUTPUT' | translate"></div>
                    <div>
                        <img style="max-height: 220px; max-width: 140px" data-ng-src="{{mediaModel.myCroppedImage}}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 row" >
            <h3 data-ng-bind="'ADD_INFO' | translate"></h3>
            <div class="col-xs-12 col-sm-5">
                <label class="control-label" for="PublishingDate" data-ng-bind="'PUBLISHING_DATE' | translate"></label>
                <div class="controls">
                    <input class="form-control" type="date" data-ng-model="mediaModel.publishingDate" id="PublishingDate" placeholder="jj/mm/aaaa" >
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <label class="control-label" for="isbn" data-ng-bind="'ISBN' | translate"></label>
                <input class="form-control" type="text" min="0" data-ng-model="mediaModel.isbn" id="isbn" placeholder="{{'ISBN' | translate}}" >
            </div>
            <div class="col-xs-6 col-sm-3">
                <label class="control-label" for="pageCount" data-ng-bind="'PAGES' | translate"></label>
                <div class="controls">
                    <input class="form-control" id="pageCount" type="number" data-ng-model="mediaModel.pageCount" placeholder="#">
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <label class=" control-label" for="Price" data-ng-bind="'PRICE' | translate"></label>
                <div class="controls">
                    <input class="form-control" type="number" step="0.01" min="0" data-ng-model="mediaModel.price" id="Price" placeholder="{{'PRICE' | translate}}" >
                </div>
            </div>
            <div class="col-xs-6 col-sm-2">
                <label class="control-label" data-ng-bind="'READ' | translate"></label>
                <div >
                    <button class="btn btn-success" data-ng-show="mediaModel.read === 'READ'" data-ng-click="mediaModel.read = 'ONGOING'" data-ng-model="mediaModel.read" >
                        <img class="form-icon-btn-size" data-ng-src="/assets/img/view8.png">
                    </button>
                    <button class="btn btn-info" data-ng-show="mediaModel.read === 'ONGOING'" data-ng-click="mediaModel.read = 'NOTREAD'" data-ng-model="mediaModel.read" >
                        <img class="form-icon-btn-size" data-ng-src="/assets/img/open161.png">
                    </button>
                    <button class="btn btn-danger" data-ng-show="mediaModel.read === 'NOTREAD'" data-ng-click="mediaModel.read = 'READ'" data-ng-model="mediaModel.read" >
                        <img class="form-icon-btn-size" data-ng-src="/assets/img/eye48.png">
                    </button>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2">
                <label class="control-label" data-ng-bind="'BOUGHT' | translate"></label>
                <div >
                    <button class="btn btn-success" data-ng-show="mediaModel.bought === true" data-ng-click="mediaModel.bought = false" data-ng-model="mediaModel.bought" >
                        <img class="form-icon-btn-size" data-ng-src="/assets/img/correct2.png">
                    </button>
                    <button class="btn btn-danger" data-ng-show="mediaModel.bought === false" data-ng-click="mediaModel.bought = true" data-ng-model="mediaModel.bought" >
                        <img class="form-icon-btn-size" data-ng-src="/assets/img/delete100.png">
                    </button>
                </div>
            </div>
            <div class="col-xs-12">
                <label class="control-label" for="summary" data-ng-bind="'SUMMARY' | translate"></label>
                <div class="controls">
                    <textarea class="summary-textarea form-control text" id="summary" data-ng-model="mediaModel.summary" placeholder="{{'SUMMARY' | translate}}" ></textarea>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 no-padding-side">
            <section data-ng-include="'modules/common/custom-fields/views/custom-fields.client.view.html'"></section>
        </div>
    </div>
    <div class="form-group micro-margin-top-fixed col-xs-12 row">
        <input type="submit" data-ng-click="validateForm();" value="{{'VALIDATE' | translate}}" class="btn btn-success pull-right micro-margin-right-fixed">
        <input type="submit" data-ng-click="cancelPage();" value="{{'CANCEL' | translate}}" class="btn btn-danger pull-right micro-margin-right-fixed">
    </div>
    <div style="line-height: 34px" data-ng-show="error" class="text-danger pull-right micro-margin-right-fixed">
        <strong data-ng-bind="error"></strong>
    </div>
</fieldset>
