<section data-ng-controller="ListCollectionController" ng-show="authentication.user" data-ng-init="findCollection()">
    <div class="page-header">
        <h1 >
            <button class="badge pull-right btn btn-primary view-field-info-margin-top" ng-click="goToStats()" data-ng-bind="'STATS' | translate"></button>
            Mes Collections
        </h1>
    </div>
    <mc-loader></mc-loader>

    <!-- Liste des collections -->

    <div ng-show="isLoaded" class="row">
        <div class="col-md-12" >
            <uib-accordion close-others="oneAtTime" >
                <uib-accordion-group class="collection-header-field" ng-repeat="item in collectionsList" >
                    <uib-accordion-heading >
                        <span class="hidden-xs badge view-collection-missing pull-right">{{item.boughtTotal + ' '}}{{'COLLECTION_BOUGHT' | translate}}{{' / ' + item.missing + ' '}}{{'COLLECTION_MISSING' | translate}}</span>
                        <div style="font-weight: bold;" >{{item._id}}</div>
                    </uib-accordion-heading>
                    <ul class="list-group" >
                        <li ng-click="goTo(book._id)" class="list-group-item {{book.bought ? 'collection-header-field' : 'view-collection-missing'}}" ng-repeat="book in item.data" >
                            {{book.collectionName + ' T. ' + book.volume + (book.title ? ' - ' + book.title : '')}}
                        </li>
                    </ul>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>

    <!-- Panneau des statistiques -->

    <section data-ng-include="'modules/common/statistics-panel/views/statistics-panel.client.view.html'" ></section>
</section>
