<section data-ng-controller="ViewBookController" data-ng-show="authentication.user" data-ng-init="findOneView()">
    <section data-ng-include="'modules/books/views/books-auto-add.client.modal.html'"></section>
    <mc-loader></mc-loader>
    <div data-ng-show="isLoaded" class="page-header">
        <div class="col-xs-pull-12 pull-right" data-ng-show="(authentication.user && book)">
            <a data-ng-show="book.collectionName" data-uib-popover="Ajouter les livres manquant" data-popover-trigger="mouseenter" class="btn btn-success" data-ng-click="addMissing('lg')">
                <img class="form-icon-btn-size" data-ng-src="/assets/img/plus24.png" >
            </a>
            <a data-uib-popover="Dupliquer ce livre" data-popover-trigger="mouseenter" class="btn btn-warning" data-ng-click="duplicateItem()">
                <img class="form-icon-btn-size" data-ng-src="/assets/img/duplicate3.png" >
            </a>
            <a data-uib-popover="Éditer ce livre" data-popover-trigger="mouseenter" class="btn btn-primary" href="/#!/books/{{book._id}}/edit">
                <img class="form-icon-btn-size" data-ng-src="/assets/img/configure.png" >
            </a>
            <a data-uib-popover="Supprimer ce livre" data-popover-trigger="mouseenter" class="btn btn-danger" data-ng-click="remove();">
                <img class="form-icon-btn-size" data-ng-src="/assets/img/delete96.png" >
            </a>
        </div>
        <h1 data-ng-bind="book.collectionName ? book.collectionName + ' T. ' + book.volume + ' : ' + book.title : book.title"></h1>
    </div>
    <div data-ng-show="isLoaded" class="ui-margin-top col-xs-12" >
        <div class="col-xs-12 {{mediaModel.cover ? 'col-md-3 col-lg-2' : ''}} no-padding-side">
            <div class="col-xs-12 {{mediaModel.cover ? 'text-center' : ''}}">
                <rating data-ng-model="mediaModel.bookRate" max="ratingMax" readonly="isReadonly" on-hover="hoveringOver()" on-leave="showPercent = false"></rating>
                <span class="label" data-ng-class="{'label-danger': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" data-ng-show="showPercent">{{mediaModel.bookRate}}/{{ratingMax}}</span>
            </div>
            <div data-ng-show="mediaModel.cover" class="col-xs-12 text-center" >
                <img class="view-cover-image" data-ng-src="{{mediaModel.cover}}" >
            </div>
        </div>
        <hr class="col-xs-12 hidden-md hidden-lg">
        <div class="view-field col-xs-12 {{mediaModel.cover ? 'col-md-4' : 'col-md-6'}} list-group-item-margin">
            <div class="col-md-12 list-group-item" data-ng-show="book.collectionName ? true : false" >
                <div >Collection / Série</div>
                <h4 data-ng-cloak class="view-label-field"  id="collectionName" data-ng-bind="mediaModel.collectionName + ' Tome ' + mediaModel.volumeId" ></h4>
            </div>
            <div data-ng-show="mediaModel.title" class="col-md-12 list-group-item">
                <div >Titre</div>
                <h4 id="title" class="view-label-field" data-ng-bind="mediaModel.title" ></h4>
            </div>
            <div data-ng-show="mediaModel.displayAuthors" class="col-md-12 list-group-item" >
                <div >Auteurs</div>
                <h4 id="authors" class="view-label-field" data-ng-bind="mediaModel.displayAuthors" ></h4>
            </div>
        </div>
        <hr class="col-xs-12 hidden-md hidden-lg">
        <div class="view-field col-xs-12 {{mediaModel.cover ? 'col-md-5 col-lg-6' : 'col-md-6'}} list-group-item-margin" >
            <div data-ng-show="mediaModel.publisher" class="col-sm-6 col-lg-5 list-group-item ">
                <div>Editeur</div>
                <h4 id="publisher" data-ng-bind="mediaModel.publisher" ></h4>
            </div>
            <div data-ng-show="mediaModel.isbn" class="col-sm-6 col-lg-4 list-group-item ">
                <div>ISBN</div>
                <h4 id="isbn" data-ng-bind="mediaModel.isbn" ></h4>
            </div>
            <div data-ng-show="mediaModel.pageCount" class="col-sm-6 col-lg-3 list-group-item ">
                <div>Pages</div>
                <h4 id="pageCount" data-ng-bind="mediaModel.pageCount" ></h4>
            </div>
            <div data-ng-show="mediaModel.publishingDate" class="col-sm-6 col-lg-4 list-group-item ">
                <div>Date de publication</div>
                <h4 id="publishingDate" data-ng-bind="mediaModel.publishingDate | date: medium " ></h4>
            </div>
            <div data-ng-show="mediaModel.price" class="col-sm-6 col-lg-4 list-group-item ">
                <div>Prix</div>
                <h4 id="price" data-ng-bind="mediaModel.price ? mediaModel.price.toFixed(2) : ''" ></h4>
            </div>
            <div class="col-xs-12 col-lg-8 no-padding-side item-focus list-group-item-margin view-status">
                <div class="col-xs-6 list-group-item">
                    <div >Lu</div>
                    <img data-ng-show="mediaModel.read === 'READ'" data-ng-src="/assets/img/view-done.png">
                    <img data-ng-show="mediaModel.read === 'ONGOING'" data-ng-src="/assets/img/view-ongoing-read.png">
                    <img data-ng-show="mediaModel.read === 'NOTREAD'" data-ng-src="/assets/img/view-notdone.png">
                </div>
                <div class="col-xs-6 list-group-item">
                    <div >Acheté</div>
                    <img data-ng-show="mediaModel.bought" data-ng-src="/assets/img/view-bought.png">
                    <img data-ng-hide="mediaModel.bought" data-ng-src="/assets/img/view-notbought.png">
                </div>
            </div>
        </div>
        <hr class="col-xs-12">
        <div class="col-xs-12 view-field" data-ng-show="mediaModel.summary ? true : false" >
            <div class="col-xs-12 list-group-item">
                <div>Résumé</div>
                <h5 id="summary" data-ng-bind="mediaModel.summary" ></h5>
            </div>
        </div>
        <hr class="col-xs-12">
        <div class="view-field col-xs-12">
            <div class="col-xs-12 col-sm-6 col-md-4 custom-field list-group-item" data-ng-show="mediaModel.customFields ? true : false" data-ng-repeat="field in mediaModel.customFields" >
                <div>{{field.name}}</div>
                <h4 title="{{field.value}}" data-ng-bind="field.value" ></h4>
            </div>
        </div>
    </div>
</section>
