<section>
    <div data-ng-show="stats && isLoaded" id="stats" class="col-md-12">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <h3 class="panel-title" data-ng-bind="'STATS' | translate"></h3>
            </div>
            <div class="panel-body" >
                <ul class="list-group" >
                    <li class="list-group-item" >
                        <h4 class="view-field-status-margin" data-ng-bind="'GLOBAL_STATS' | translate"></h4>
                        <div class="default-cursor row" >
                            <div class="list-group-item col-md-3">
                                <span class="badge">{{$parent.stats.collections.value}}</span>
                                {{$parent.stats.collections.field | translate}}
                            </div>
                            <div class="list-group-item col-md-3">
                                <span class="badge">
                                    {{$parent.stats.media.value + ' (' + $parent.stats.bought.value}}
                                    {{('BOUGHT' | translate).toLowerCase() + ')'}}
                                </span>
                                {{$parent.stats.media.field | translate}}
                            </div>
                            <div class="list-group-item col-md-3">
                                <span class="badge">{{$parent.stats.mediaValue.value}}</span>
                                {{$parent.stats.mediaValue.field | translate}}
                            </div>
                            <div class="list-group-item col-md-3">
                                <span class="badge">{{$parent.stats.missingValue.value}}</span>
                                {{$parent.stats.missingValue.field | translate}}
                            </div>
                        </div>
                    </li>
                    <li data-ng-if="$parent.stats" class="list-group-item" >
                        <h4 class="view-field-status-margin" data-ng-bind="$parent.stats.headerDone.field | translate" ></h4>
                        <uib-progress max="$parent.$parent.stats.media.value">
                            <uib-bar value="$parent.$parent.$parent.stats.done.value" type="success"></uib-bar>
                            <uib-bar value="$parent.$parent.$parent.stats.onGoing.value" type="info"></uib-bar>
                            <uib-bar value="$parent.$parent.$parent.stats.notDone.value" type="danger"></uib-bar>
                        </uib-progress>
                        <div class="text-center" >
                            <div class="stats-legend-horizontal-center default-cursor" >
                                <span data-uib-popover="{{($parent.stats.done.popover | translate) + ' : ' + $parent.stats.done.value}}" data-popover-trigger="mouseenter">
                                    <div class="stats-legend-icons success-bg-color" ></div>
                                    <span class="stats-legend-margin-right" >
                                        -
                                        {{$parent.stats.done.field | translate}}
                                        ({{$parent.stats.done.stats + ' %' }})
                                    </span>
                                </span>
                                <span data-ng-if="$parent.stats.onGoing"  data-uib-popover="{{($parent.stats.onGoing.popover | translate) + ' : ' + $parent.stats.onGoing.value}}" data-popover-trigger="mouseenter">
                                    <div class="stats-legend-icons info-bg-color" ></div>
                                    <span class="stats-legend-margin-right" >
                                        -
                                        {{$parent.stats.onGoing.field | translate}}
                                        ({{$parent.stats.onGoing.stats + ' %'}})
                                    </span>
                                </span>
                                <span data-uib-popover="{{($parent.stats.notDone.popover | translate) + ' : ' + $parent.stats.notDone.value}}" data-popover-trigger="mouseenter">
                                    <div class="stats-legend-icons danger-bg-color" ></div>
                                    <span>
                                        -
                                        {{$parent.stats.notDone.field | translate}}
                                        ({{$parent.stats.notDone.stats + ' %'}})
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li data-ng-if="$parent.stats" class="list-group-item" >
                        <h4 class="view-field-status-margin" data-ng-bind="'BUY_STATS' | translate"></h4>
                        <uib-progress max="$parent.$parent.stats.mediaMissing ? $parent.$parent.stats.mediaMissing.total : $parent.$parent.stats.media.value">
                            <uib-bar value="$parent.$parent.$parent.stats.bought.value" type="success"></uib-bar>
                            <uib-bar value="$parent.$parent.$parent.stats.toBought.value" type="warning"></uib-bar>
                            <uib-bar data-ng-if="$parent.$parent.$parent.stats.mediaMissing" value="$parent.$parent.$parent.stats.mediaMissing.value" type="danger"></uib-bar>
                        </uib-progress>
                        <div class="text-center" >
                            <div class="stats-legend-horizontal-center default-cursor" >
                                <span data-uib-popover="{{($parent.stats.bought.popover | translate) + ' : ' + $parent.stats.bought.value}}" data-popover-trigger="mouseenter">
                                    <div class="stats-legend-icons success-bg-color" ></div>
                                    <span class="stats-legend-margin-right" >
                                        -
                                        {{$parent.stats.bought.field | translate}}
                                        ({{$parent.stats.bought.stats + ' %' }})
                                    </span>
                                </span>
                                <span data-uib-popover="{{($parent.stats.toBought.popover | translate) + ' : ' + $parent.stats.toBought.value}}" data-popover-trigger="mouseenter">
                                    <div class="stats-legend-icons warning-bg-color" ></div>
                                    <span class="{{$parent.stats.mediaMissing ? 'stats-legend-margin-right' : ''}} stats-legend-margin-right">
                                        -
                                        {{$parent.stats.toBought.field | translate}}
                                        ({{$parent.stats.toBought.stats + ' %'}})
                                    </span>
                                </span>
                                <span data-ng-if="$parent.stats.mediaMissing" data-uib-popover="{{($parent.stats.mediaMissing.popover | translate) + ' : ' + $parent.stats.mediaMissing.value}}" data-popover-trigger="mouseenter">
                                    <div class="stats-legend-icons danger-bg-color" ></div>
                                    <span>
                                        -
                                        {{$parent.stats.mediaMissing.field | translate}}
                                        ({{$parent.stats.mediaMissing.stats + ' %'}})
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li data-ng-if="$parent.stats.totalSeenDuration" class="list-group-item" >
                        <h4 class="view-field-status-margin" data-ng-bind="'TIME_STATS' | translate"></h4>
                        <div class="progress default-cursor">
                            <div data-uib-popover="{{($parent.stats.totalSeenDuration.popover | translate) + ' : ' + $parent.stats.totalSeenDuration.value.toString().NumberFormat(' ') + ' min'}}" data-popover-trigger="mouseenter" class="progress-bar progress-bar-success" style="{{'width: ' + $parent.stats.totalSeenDuration.percent + '%;'}}">
                                {{$parent.stats.totalSeenDuration.percent + ' %' }}
                            </div>
                            <div data-uib-popover="{{($parent.stats.toWatchDuration.popover | translate) + ' : ' + $parent.stats.toWatchDuration.value.toString().NumberFormat(' ') + ' min'}}" data-popover-trigger="mouseenter" class="progress-bar progress-bar-warning" style="{{'width: ' + $parent.stats.toWatchDuration.percent + '%;'}}">
                                {{$parent.stats.toWatchDuration.percent + ' %'}}
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="stats-legend-horizontal-center" >
                                <div class="stats-legend-icons success-bg-color" ></div>
                                <span class="stats-legend-margin-right" > - {{$parent.stats.totalSeenDuration.field | translate}}</span>
                                <div class="stats-legend-icons warning-bg-color" ></div>
                                <span> - {{$parent.stats.toWatchDuration.field | translate}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
